{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "root": true,
  "ignorePatterns": [],
  "rules": {
    "no-unused-labels": "off",
    "no-fallthrough": "off",
    "@typescript-eslint/no-explicit-any": ["warn", { "ignoreRestArgs": true }],
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/unbound-method": [
      "error",
      {
        "ignoreStatic": true
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "no-restricted-syntax": [
      "error",
      {
        "selector": "MethodDefinition[static = true] ThisExpression",
        "message": "Don't use this in static functions."
      }
    ]
  },
  "env": {
    "browser": true,
    "es2021": true
  }
}
